[Unit]
Description=ARA Server
After=network-online.target

[Service]
ExecStart=/home/metricmike/.venv/bin/ara-manage runserver

[Install]
WantedBy=default.target