---
- name: "Including tasks for {{ item }}"
  ansible.builtin.include_tasks: "{{ task_item }}.yml"
  loop:
    - sshd
    - env
    - packages
    - git
    - prompt
    - wsl
    - asdf
    - completion
    - systemd
  loop_control:
    loop_var: task_item

# Hrm, need to split asdf up so it can run before git for hanko/signers
